In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [4]:
req = requests.get('https://www.espncricinfo.com/records/tournament/team-match-results/icc-cricket-world-cup-2023-24-15338')

soup = bs(req.text, 'html.parser')

In [8]:
val = soup.find_all('tbody', {'class' : ''})

In [13]:
rows = val[0].find_all('tr')

In [14]:
len(rows)

40

In [15]:
matches = {
    'team_1': [],
    'team_2': [],
    'winner': [],
}

In [17]:
for row in rows:
    values = row.find_all('span')
    matches['team_1'].append(values[0].text)
    matches['team_2'].append(values[1].text)
    matches['winner'].append(values[2].text)

In [24]:
matches_data = pd.DataFrame(matches)

In [47]:
matches_data.loc[len(matches_data.index)] = ['India', 'Netherlands', '']

In [50]:
matches_data

          team_1        team_2        winner
0        England   New Zealand   New Zealand
1    Netherlands      Pakistan      Pakistan
2    Afghanistan    Bangladesh    Bangladesh
3   South Africa     Sri Lanka  South Africa
4          India     Australia         India
5    Netherlands   New Zealand   New Zealand
6     Bangladesh       England       England
7       Pakistan     Sri Lanka      Pakistan
8          India   Afghanistan         India
9      Australia  South Africa  South Africa
10    Bangladesh   New Zealand   New Zealand
11         India      Pakistan         India
12   Afghanistan       England   Afghanistan
13     Australia     Sri Lanka     Australia
14   Netherlands  South Africa   Netherlands
15   Afghanistan   New Zealand   New Zealand
16         India    Bangladesh         India
17     Australia      Pakistan     Australia
18   Netherlands     Sri Lanka     Sri Lanka
19       England  South Africa  South Africa
20         India   New Zealand         India
21   Afghanistan      Pakistan   Afghanistan
22    Bangladesh  South Africa  South Africa
23     Australia   Netherlands     Australia
24       England     Sri Lanka     Sri Lanka
25      Pakistan  South Africa  South Africa
26     Australia   New Zealand     Australia
27    Bangladesh   Netherlands   Netherlands
28         India       England         India
29   Afghanistan     Sri Lanka   Afghanistan
30    Bangladesh      Pakistan      Pakistan
31   New Zealand  South Africa  South Africa
32         India     Sri Lanka         India
33   Afghanistan   Netherlands   Afghanistan
34   New Zealand      Pakistan      Pakistan
35     Australia       England     Australia
36         India  South Africa         India
37    Bangladesh     Sri Lanka    Bangladesh
38   Afghanistan     Australia     Australia
39       England   Netherlands             -
40   New Zealand     Sri Lanka             -
41   Afghanistan  South Africa             -
42     Australia    Bangladesh             -
43       England      Pakistan             -
44         India   Netherlands             -

In [49]:
matches_data.loc[matches_data.tail(5).index, 'winner'] = '-'

In [51]:
matches_data.to_csv('match_data.csv')

In [2]:
df = pd.read_csv('data_2.csv')

In [3]:
df.head()

,Unnamed: 0,team_1,team_2,venue,winner,date,team_1_win_ratio,team_2_win_ratio,team_1_win_curr,team_2_win_curr,team1_venue_perform,team2_venue_perform
0,0,India,South Africa,Australia,India,"Feb 22, 2015",63.15,36.84,66.67,55.55,42.85,71.42
1,1,India,South Africa,India,South Africa,"Oct 11, 2015",63.15,36.84,66.67,55.55,65.57,50.00
2,2,India,South Africa,India,India,"Oct 14, 2015",63.15,36.84,66.67,55.55,65.57,50.00
3,3,India,South Africa,India,South Africa,"Oct 18, 2015",63.15,36.84,66.67,55.55,65.57,50.00
4,4,India,South Africa,India,India,"Oct 22, 2015",63.15,36.84,66.67,55.55,65.57,50.00

In [6]:
df.loc[df['team_1'] == 'India'), 'team_1_win_ratio']

0      63.15
1      63.15
2      63.15
3      63.15
4      63.15
       ...
127    46.66
128    46.66
129    46.66
130    46.66
131    46.66
Name: team_1_win_ratio, Length: 132, dtype: float64